<%- include('./header.ejs') %>
<div class="container mt-4">
    <h2 class="text-center text-primary mb-7">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-warning text-bold animate__wobble">Madhav Institute of Technology and Science</h2>
            <h4>LEADERSHIP THROUGH LEARNING...</h4>
            <p class="aboutUs-p">Madhav Institute of Technology & Science (MITS), Gwalior was established in 1957 by His Highness Sir Jiwaji Rao Scindia, Maharaja, of the erstwhile state of Gwalior under open door policy of Govt. of India. The foundation stone of the institute was laid by the then President Dr. Rajendra Prasad, on 20th October, 1956 and the building was inaugurated by President Dr. S. Radhakrishnan on 11th December, 1964. On the occasion of Golden Jubilee Celebrations of the institute, the president of India, Dr. Pratibha Devi Singh Patil graced the Golden Jubilee Celebrations of the institute as Chief Guest on 30th June, 2008. A postal stamp on MITS was also released on this occasion.</p>

                <p class="aboutUs-p">The institute is affiliated to R.G.P.V., Bhopal but has academic autonomy since 2002 to run courses of its choice. Recently the institute has been granted autonomy by UGC, New Delhi for a period of 6 years w.e.f July 2017. The institute is also accredited by the National Assessment and Accreditation Council (NAAC) with A++ Grade (CGPA 3.53) for 5 years from 2023. Many of the programmes are accredited by the National Board of Accreditation (NBA).</p>
                
                <p class="aboutUs-p">The institute started its own MOODLE Server (Modular Object-Oriented Dynamic Learning Environment) on 15th august 2017 for open source course management system to facilitate E-learning, Evaluation, Test / Quiz Conduction, Uploading Assignments etc.</p>

                <p class="aboutUs-p">The institute has a lush green environment conscious campus of around 44.6 acres which also includes ‘Madhav-Van’ a small teak wood forest where a large variety of birds can be sighted. The Institute offers 11 Bachelors, 18 Masters and Doctoral Degrees Programmes in Engineering and Technology. The Institute is a recognized Quality Improvement Programme (QIP) Centre for PG and Ph.D programs. The prime objective of the institute is to provide quality technical education at undergraduate and postgraduate levels.There is Study Centre of Indira Gandhi National Open University (IGNOU) and Nodal centre of RGPV, Bhopal.</p>
                
                <p class="aboutUs-p">The institute has cricket, basketball, football and tennis grounds, and badminton court along with facilities for indoor games. The institute has been successively receiving awards and top ranks in many sporting events such as Table-Tennis, Badminton, and Basket-ball at the nodal and state level. Prizes are also won in Kho-Kho, chess and football.</p>
        </div>
        <div class="col-md-6">
            <iframe  src="https://youtu.be/1FD7Qu8iAWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="youtube-video"></iframe>
        </div>
    </div>
    <div class="row why-choose-us">
        <h2 class="text-center text-warning">Why Choose Us</h2>
        <div class="col-md-4 mb-4">
            <div class="border">
                <i class="fa-solid fa-circle-check" class="pl-5"></i>
                <h4>Our Mission</h4>
                <p class="">"To provide quality education in technical and allied disciplines.
                    To organize and arrange innovative courses in Engineering and Technology.
                    To arrange vocational courses in the upcoming fields and innovative subjects to meet global advancement.
                    To promote research in the fields of Technology and Science."</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="border">
                <i class="fa-solid fa-eye"></i>
                <h4>Our Vision</h4>
                <p class="">"To create world class quality Engineers and Technocrats capable of providing leadership in all spheres of life and society"</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="border border-height">
                <i class="fa-solid fa-sun"></i>
                <h4>Core Values</h4>
                <p class="">"MITS focuses on creating ambitious human resources while nurturing innovation, knowledge, research, and talent with an optimistic outlook. We believe in blending tradition with modernity."</p>
            </div>
        </div>
    </div>
</div>

<%- include('./footer.ejs') %>
